
body {
    width: 100%;
    height: 100%;
    background-color: #bdbdbd;
    color: #515151;
    font-family: Arial, sans-serif;
    margin: 0;
}

.page_header {
    /* margin: 1rem; */
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 5rem;
    padding: 1rem;
    font-size: 2.5rem;
    text-align: center;
    /* letter-spacing: .1rem; */
    /* color: #e65100; */
    white-space: nowrap;
    background-color: #fff;
}

.page_title {
    flex: 1;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #dcdcdc;;
}

.jup_logo {
    height: 3rem
}

.subproj_container {
    box-sizing: border-box;
    width: calc(100% - .8rem);
    margin: 0 .4rem 0 .4rem;
    padding: 1rem;
    background-color: #eee;
    border-radius: .2rem;
    /* overflow: clip; */
}

.subproj_upper_bar {
    position: relative;
    top: 0px;
    left: 0px;
    box-sizing: border-box;
    margin: 1rem 0 0 .4rem;
    display: inline-block;
    width: 100%;
    height: 2.5rem;
    font-size: 1.5rem;
    background-color: #bdbdbd;
    /* background-color: #093756; */
}

/* .spacer {
    width: 100%;
    height: 1rem;
} */

a {
    color: inherit;
    text-decoration: inherit;
}

.downloads_area {
    display: flex;
    flex-direction: row;
}

.download_btn {
    box-sizing: border-box;
    width: 12rem;
    height: 2.5rem;
    padding: .75rem 0 0 0;
    margin: 0 .5rem 1rem 0;
    color: white;
    background-color: #e65100;
    font-size: 1rem;
    text-align: center;
    border-radius: .2rem;
}

.subproj_title {
    background-color: #eee;
    padding: .4rem 1rem 0 1rem;
    height: 2.75rem;
    display: inline-block;
    border-top: .2rem solid #2296f3;
    border-radius: .3rem;
}

.image_container{
    /* padding: 1rem; */
    background-color: #eee;
    border-radius: .2rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: clip;
}

.plot {
    height: 25rem;
    width: 40rem;
    margin: 0 1rem 0 0;
    border: 1px solid black;
}

.empty_plot {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #888;
}

.btn_disabled {
    background-color: #aaa;
    color: #666;
}

.tables_container {
    width: calc(100%);
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;
}

.single_table_container {
    width: calc(50% - .5rem);
    min-width: 40rem;
    background-color: blue;
}

table {
    width: 100%;
    margin: 0 0 0 0;

    table-layout: fixed;
    word-break: break-all;

    border: 1px solid black;
    border-spacing: 0;
    border-collapse: collapse;

    background-color: white;
}

td {
    max-width: 75%;
    overflow: hidden;

    border: 1px solid black;

    font-size: .75rem;
}

.table_frozen_upper {
    margin: 0 0 0 0;
    background-color: #ccc;
}

.table_headers {
    /* border-bottom: 0; */
    background-color: #ddd;
}

.stat_table_container {
    margin-top: 0px;
}

.stat_table_body {
    margin-top: 0px;
    height: 16rem;
    
    max-height: 8rem;
    overflow: scroll;
}

.left_column {
    width: 75%;
}

.right_column {
    width: 25%;
}

.latest_date_info {
    display: flex;
    align-items: stretch;
    text-align: center;
}
