<!doctype html>
<head>
    <meta encoding="utf8" />
    <title>Jupyter Docs Stats</title>
    <link rel="stylesheet" href="style/styles.css" />
    <script src="./src/index.js"></script>
</head>
<body>
    <!-- Full width top of page banner -->
    <div class="page_header">
        <img class="jup_logo" src="style/rectanglelogo-greytext-orangebody-greymoons.svg" />
        <div class="page_title">Jupyter Documentation Stats</div>
    </div>
    <div class="divider"></div>
    % for item in subprojects:
    <!-- >>> Subproject layout -->
    <div class="subproj_upper_bar">
        <div class="subproj_title">${item.name}</div>
    </div>
    <div class="subproj_container">
        <!-- <div class="spacer"></div> -->
        <div class="downloads_area">
            % if item.merged_traffic_csv_path:
            <div class="download_btn"><a href="${item.merged_traffic_csv_path}" download>Get traffic CSV</a></div>
            % else:
            <!-- Strikethrough/disable the button if no link available -->
            <div class="download_btn btn_disabled"><s>Get traffic CSV</s></div>
            % endif
            % if item.merged_search_csv_path:
            <div class="download_btn"><a href="${item.merged_search_csv_path}" download>Get search CSV</a></div>
            % else:
            <!-- Strikethrough/disable the button if no link available -->
            <div class="download_btn btn_disabled"><s>Get search CSV</s></div>
            % endif
            <div class="download_btn"><a href="./jupyter_docs_metrics_v1.ipynb" download>Get Notebook</a></div>
            % if item.latest_traffic_data_date:
            <div class="upper_extra_info_area"><div class="latest_date_info" data-age-info="${item.latest_traffic_data_date.year},${item.latest_traffic_data_date.month},${item.latest_traffic_data_date.day}"></div></div>
            % endif
        </div>
        <div class="image_container">
            <!-- Traffic plot -->
            % if not item.traffic_empty:
            <iframe class="plot" src="${item.plot1_path}"></iframe>
            % else:
            <div class="plot empty_plot">&lt;This dataset was empty (0 rows)&gt;</div>
            % endif
            <!-- Search plot -->
            % if not item.search_empty:
            <iframe class="plot" src="${item.plot2_path}"></iframe>
            % else:
            <div class="plot empty_plot">&lt;This dataset was empty (0 rows)&gt;</div>
            % endif
        </div>

        <div class="tables_container">

            % if item.popular_pages:
            <div class="single_table_container">

                <!-- Start table -->
                <table class="table_frozen_upper">
                <thead>
                    <tr>
                    <th class="tabletitle" colspan="2">Popular Pages</th>
                    </tr>
                </thead>
                </table>

                <div class="stat_table_body">
                    <table>

                    <colgroup>
                        <col span="1" class="left_column">
                        <col span="1" class="right_column">
                    </colgroup>

                    <tbody>
                        <tr class="table_headers">
                                <td>Page</td>
                                <td>Views</td>
                        </tr>
                        % for pg, cnt in item.popular_pages:
                        <tr>
                            <td>${pg}</td>
                            <td>${cnt}</td>
                        </tr>
                        % endfor
                    </tbody>
                    </table>
                </div>

            </div>
            % endif

            % if item.popular_searches:
            <!-- Start table -->
            <div class="single_table_container">

                <table class="table_frozen_upper">
                <thead>
                    <tr>
                    <th class="tabletitle" colspan="2">Popular Searches</th>
                    </tr>
                </thead>
                </table>

                <div class="stat_table_body">
                    <table>

                    <colgroup>
                        <col span="1" class="left_column">
                        <col span="1" class="right_column">
                    </colgroup>

                    <tbody>
                        <tr class="table_headers">
                                <td>Page</td>
                                <td>Views</td>
                        </tr>
                        % for srch, cnt in item.popular_searches:
                        <tr>
                            <td>${srch}</td>
                            <td>${cnt}</td>
                        </tr>
                        % endfor
                    </tbody>
                    </table>
                </div>
                % endif

                </div>

        </div>

    </div>
    <!-- <<< end Subproject layout -->
    % endfor
</body>
</html>
